# Builds
/build
/tests/build

# Compiled Libraries
*.o

# vscode
.vscode

# vim
Makefile~
*.swp
*.un~
*.c~
*.h~

# WebC
app
app.wasm

# Tailwinds/NPM
node_modules
app-ts.css

# Clibs
deps

# Kore
*.o
.flavor
.objs
Fracture.so
assets.h
cert
bin/*
kore.pid

# Surveyor
surveyor
